<nav class="navbar navbar-expand-lg navbar-dark bg">
    <a class="navbar-brand" routerLink="">MoviesTime</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item  mx-2">
          <a class="nav-link" routerLink="home">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="bookMovie" ><span class="sr-only"></span>Book My Show</a>
        </li>
        <li class="nav-item mx-2 mr-4">
            <a class="nav-link" routerLink="bookings" ><span class="sr-only"></span>My Bookings</a>
          </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form> -->

      <form action="">
        <input type="search">
        <i class="fa fa-search"></i>
      </form>
    
    </div>
  </nav>

<router-outlet></router-outlet>