.bookingtable{
    margin: 3rem 5rem;
    border: white solid 1px;
    border-radius: 10px;
    padding: 3rem;
}
.table{
    color: white;
    font-size: 1.2rem;
}
tbody tr:hover{
    color: white;
    cursor: pointer;
    background-color: #415069b0;
    border-top:solid white 1px ;
    border-bottom:solid white 1px ;
}
h1{
    width: fit-content;
    margin: auto;
    padding: 0 1rem;
    border-bottom:solid white 1px ;
}