<div class="container">
    <div class="bookingtable ">
     <h1>All Bookings</h1>
      <br>
        <table class="table table-borderless mb-0">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Movie Name</th>
                <th scope="col">Show Timings</th>
                <th scope="col">No. of Persons</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td >Larry the Bird</td>
                <td>Thornton</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>